<div class="jumbotron">
    <h1 class="mt-4">Dashboard</h1>
    <p class="lead mb-3">Welcome <%= user.name %></p>
    <p class="lead mb-3">
        <h3>
            Your Books
        </h3>
            <%var i = 0;%>
            <% include ./partials/error.ejs %>
            <% user.books.forEach(function (book) { %>
                <ul>
                    <%= book %>
                    <br>
                    <form action="/remove" method="POST">
                        <input type="hidden" name = "name"  value="<%= typeof name != 'undefined' ? name: i %>" id="name"/>
                        <button type="submit" class="btn btn-outline-danger">
                            Remove
                        </button>
                    </form>
                    <br>
                    <form action="/donate" method="POST">
                        <input type="hidden" name = "name"  value="<%= typeof name != 'undefined' ? name: i %>" id="name"/>
                        <button type="submit" class="btn btn-outline-success">
                            Donate
                        </button>
                    </form>
                    <%i++;%>
                </ul>
            <% }); %>
    </p>
    <form action="/add" method="POST">
        <div class="form-group">
            <label for="name"><h3>Add Your Books</h3></label>
            <input
                    type="name"
                    id="name"
                    name="name"
                    class="form-control"
                    placeholder="Enter Book Name"
                    value="<%= typeof name != 'undefined' ? name: '' %>"
            />
            <% include partials/success.ejs%>
            <br>
            <button type="submit" class="btn btn-outline-success">
                Add Book
            </button>
        </div>
    </form>
    <form action="/search" method="POST">
        <div class="form-group">
            <label for="name"><h3>Search Books</h3></label>
            <input
                    type="name"
                    id="name"
                    name="name"
                    class="form-control"
                    placeholder="Enter Book Name"
                    value="<%= typeof name != 'undefined' ? name: '' %>"
            />
            <br>
            <button type="submit" class="btn btn-outline-success">
                Search Books
            </button>
        </div>
    </form>
    <br>
    <a href="/donated" class="btn btn-secondary" >My Donated Books</a>
    <br>
    <br>
    <a href="/users/logout" class="btn btn-secondary" >Logout</a>
    <br>
    <br>
</div>
